@model SailScores.Web.Models.SailScores.AccountAndClubRequestViewModel

@{
    ViewData["Title"] = "SailScores Sign up";
    ViewData["MetaDescription"] = "Request the creation of a new club hosted at SailScores";
}

<h1 class="h2">Set up your club's scoring</h1>
<hr />
<div class="row">
    <div class="col-12">
        <p>
           Initially the club's pages will be hidden. When you're ready, the club
           can be listed on the front page and added to search engine results.
        </p>
        <p>
            SailScores is donated to the sailing community. Use it for free.
            If you’d like to help keep it running and improving, visit the
            <a asp-controller="Supporter" asp-action="Index">Supporter page</a>.
        </p>
        <br />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <form asp-action="RequestAccountAndClub">
            <div class="row">
                <div class="col-12">
                    <h3>User Info</h3>
                </div>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row">
                <div class="col-12">
                    Set up your account. You can add other administrators after the club is created.<br/>
                    <span class="text-small">Already have a SailScores account?
                    <a asp-area="" asp-controller="Account" asp-action="Login"
                           asp-route-returnUrl="@settingsService.GetPreferredUri(Context.Request)">Sign in</a> before creating a club.
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-3">
                        <label asp-for="ContactFirstName"></label>
                        <input asp-for="ContactFirstName" class="form-control" />
                        <span asp-validation-for="ContactFirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label asp-for="ContactLastName"></label>
                        <input asp-for="ContactLastName" class="form-control" />
                        <span asp-validation-for="ContactLastName" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="mb-3">
                        <label asp-for="ContactEmail" class="control-label"></label>
                        <input asp-for="ContactEmail" class="form-control" />
                        <span asp-validation-for="ContactEmail" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-12">
                    <h3>Club Info</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="ClubName" class="control-label"></label>
                        <input asp-for="ClubName" class="form-control" autocomplete="off" />
                        <span asp-validation-for="ClubName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="ClubInitials" class="control-label"></label>
                        <input asp-for="ClubInitials" class="form-control" autocomplete="off" />
                        <span asp-validation-for="ClubInitials" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="ClubLocation" class="control-label"></label>
                        <input asp-for="ClubLocation" class="form-control" />
                        <span asp-validation-for="ClubLocation" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="ClubWebsite" class="control-label"></label>
                        <input asp-for="ClubWebsite" class="form-control" />
                        <span asp-validation-for="ClubWebsite" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        <label asp-for="Classes" class="control-label mb-0"></label>
                        <span asp-description-for="Classes" class="mt-0 form-text small" />
                        <input asp-for="Classes" class="form-control" />
                        <span asp-validation-for="Classes" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        <label asp-for="TypicalDiscardRules" class="control-label mb-0"></label>
                        <span asp-description-for="TypicalDiscardRules" class="mt-0 form-text small" />
                        <input asp-for="TypicalDiscardRules" class="form-control input-large" aria-describedby="TypicalDiscardRules-description" />
                        <span asp-validation-for="TypicalDiscardRules" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="mb-3">
                        <label asp-for="Comments" class="control-label"></label>
                        <textarea asp-for="Comments" class="form-control" cols="60" rows="6"></textarea>
                        <span asp-validation-for="Comments" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="d-grid gap-2 col-md-3">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
                <div class="d-grid gap-2 col-md-3">
                    <a asp-controller="Home" asp-action="Index"
                       class="btn btn-outline-primary">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <br />
        <p>
            <em>
                Inactive clubs will be archived and removed from the site
                periodically. A club is considered inactive if it hasn't had
                any activity in a year or the initial setup hasn't been completed
                within 2 months.
            </em>
        </p>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
