@using SailScores.Web.Models.SailScores;
@model ClubCollectionViewModel<FleetSummary>

@{
    ViewBag.Title = Model.ClubInitials + " Fleets";
    Layout = "_ClubLayout";
}

<h2>Fleets</h2>

<ul>
    @foreach (var item in Model.List.OrderBy(f => f.Name))
    {
        <li>
            <a href="~/@Model.ClubInitials/Fleet/Details/@item.ShortName">
                @Html.DisplayFor(modelItem => item.Name)
            </a>
        </li>
    }
</ul>

