@{
    ViewData["Title"] = "Confirm email";
}
@section AdditionalMeta
{
    <meta name="robots" content="noindex,nofollow" />
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Thank you for confirming your email.
    </p>
</div>
