@{
    ViewData["Title"] = "Forgot password confirmation";
}
@section AdditionalMeta
{
    <meta name="robots" content="noindex,nofollow" />
}

<h2>@ViewData["Title"]</h2>
<p>
    Please check your email to reset your password.
</p>
