@model SailScores.Web.Models.AccountViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <p class="col-md-8 col-xl-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h4>Create a new account:</h4>
            <p class="lead">
                <strong>Note</strong> SailScores accounts only enable
                features for club scorekeepers.
            </p>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="mb-3 form-check">
                <input asp-for="EnableAppInsights" class="form-check-input" />
                <label asp-for="EnableAppInsights" class="form-check-label"></label>
                <span asp-validation-for="EnableAppInsights" class="text-danger"></span>
                <div class="alert alert-primary" role="alert">
                    If checked, SailScores will record information about the page speed and errors you encounter.
                    This will greatly assist in improving the service. No data is shared with any other organization. See our
                    <a asp-controller="Home" asp-action="Privacy">Privacy Policy</a> for details.
                </div>
            </div>
@*             <div class="mb-3 form-check">
                <input asp-for="NewsletterSubscribe" class="form-check-input" />
                <label asp-for="NewsletterSubscribe" class="form-check-label"></label>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                <div class="alert alert-primary" role="alert">
                    Check this option to sign up for occasional SailScores mailings
                    with feature updates and tips on usage. While the mailing list is hosted by Mailchimp,
                    we don't share data with other third parties.
                </div>
            </div> *@
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
