@{
    ViewData["Title"] = "Signed out";
}
@section AdditionalMeta
{
    <meta name="robots" content="noindex,nofollow" />
}

<h2>@ViewData["Title"]</h2>
<p>
    You have successfully signed out.
</p>
