@using SailScores.Web.Extensions
@model SailScores.Web.Models.SailScores.RaceWithOptionsViewModel

<li class="list-group-item" id="competitorTemplate" style="display: none;">
    <div class="d-flex w-100 flex-wrap">
        <div>
            <span class="badge text-bg-secondary rounded-pill race-place"></span>
        </div>
        <div>
            <span class="sail-number"></span><span class="alt-sail-number" style="display: none"></span>
        </div>
        <div>
            <span class="competitor-name h5"></span>
        </div>
        <div class="float-end ms-auto d-flex flex-column flex-md-row align-items-stretch gap-1 gap-md-2">
            <div>
                <select class="select-code form-select form-select-sm">
                    <option value="No Code">No Code</option>
                    @foreach (var code in Model.ScoreCodeOptions)
                    {
                        <option value="@code.Name">@code.Name: @code.Description.Left(40)</option>
                    }
                </select>
                <input class="code-points form-control form-control-sm"
                       style="display:none"
                       type="text" pattern="[0-9]+([\.,][0-9]+)?"
                       placeholder="place" />
            </div>
            <div class="d-flex flex-row gap-1">
                <div class="finish-time-div" display="none">
                    <input name="FinishTime" class="form-control form-control-sm finish-time-input time-picker" type="text" placeholder="HH:mm:ss" />
                    <span class="text-danger finish-time-error"></span>
                </div>
                <div class="elapsed-time-div" display="none">
                    <input name="ElapsedTime"
                           class="form-control form-control-sm elapsed-time-input"
                           type="text"
                           placeholder="hh:mm:ss" />
                    <span class="text-danger elapsed-time-error"></span>
                </div>
            </div>
            <div class="d-flex flex-row gap-1 ms-auto">
                <button class="btn btn-light move-up" type="button"><span class="fa fa-angle-up"></span></button>
                <button class="btn btn-light move-down" type="button"><span class="fa fa-angle-down"></span></button>
                &ensp;
                <button class="btn btn-light delete-button" type="button" data-bs-toggle="modal"
                        data-bs-target="#deleteConfirm">
                    <span class="far fa-trash-alt text-danger"></span>
                </button>
            </div>
        </div>
    </div>
</li>
