@using SailScores.Web.Extensions
@model SailScores.Web.Models.SailScores.RaceWithOptionsViewModel

<li class="list-group-item" id="competitorTemplate" style="display: none;">
    <div class="d-flex w-100 flex-wrap">
        <div>
            <span class="badge badge-secondary badge-pill race-place"></span>
        </div>
        <div>
            <span class="sail-number"></span><span class="alt-sail-number" style="display: none"></span>
        </div>
        <div>
            <span class="competitor-name h5"></span>
        </div>
        <div class="float-right ml-auto d-flex">
            <div>
                <select class="select-code form-control form-control-sm">
                    <option value="No Code">No Code</option>
                    @foreach (var code in Model.ScoreCodeOptions)
                    {
                        <option value="@code.Name">@code.Name: @code.Description.Left(40)</option>
                    }
                </select>
                <input class="code-points form-control form-control-sm"
                       style="display:none"
                       type="text" pattern="[0-9]+([\.,][0-9]+)?"
                       placeholder="place" />
            </div>
            <button class="btn btn-secondary move-up" type="button"><span class="fa fa-angle-up"></span></button>
            <button class="btn btn-secondary move-down" type="button"><span class="fa fa-angle-down"></span></button>
            &ensp;
            <button class="btn btn-secondary delete-button" type="button" data-toggle="modal"
                    data-target="#deleteConfirm">
                <span class="far fa-trash-alt text-danger"></span>
            </button>
        </div>
    </div>
</li>
