@model SailScores.Web.Models.SailScores.SeasonWithOptionsViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_ClubLayout.cshtml";
}

<h2>Edit</h2>

<h4>Season</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ClubId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" autocomplete="off"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Start" class="control-label"></label>
                <input asp-for="Start" class="form-control" />
                <span asp-validation-for="Start" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="End" class="control-label"></label>
                <input asp-for="End" class="form-control" />
                <span asp-validation-for="End" class="text-danger"></span>
            </div>

            <div id="advancedFields" role="tablist">
                <div class="card">
                    <div class="card-header" role="tab" id="advancedHeading">
                        <h5 class="mb-0">
                            <a class="collapsed" data-bs-toggle="collapse" href="#collapseAdvanced" aria-expanded="false" aria-controls="collapseAdvanced">
                                Advanced <span class="fas fa-chevron-down"></span></a>
                            <span class="small"><em>&ensp;Optional</em></span>
                        </h5>
                    </div>

                    <div id="collapseAdvanced" class="collapse" role="tabpanel" aria-labelledby="advancedHeading" data-parent="#advancedFields">
                        <div class="card-body">
                            <div class="mb-3">
                                <label asp-for="DefaultScoringSystemId" class="control-label">Default Scoring System</label>
                                <select id="DefaultScoringSystemId" asp-for="DefaultScoringSystemId" class="form-select">
                                    @foreach (var scoringSystem in Model.ScoringSystemOptions)
                                    {
                                        <option value="@scoringSystem.Id">
                                            @scoringSystem.Name
                                        </option>
                                    }
                                </select>
                                <span asp-validation-for="DefaultScoringSystemId" class="text-danger"></span>
                                <small class="form-text text-muted">Series in this season will use this scoring system by default if not explicitly set.</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-controller="Admin"
                   asp-action="Index"
                   asp-fragment="seasons"
                   class="btn btn-outline-primary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
