@page
@model SailScores.Web.Pages.Help.GettingStartedModel
@{
    Layout = "/Pages/Help/_HelpLayout.cshtml";
    ViewData["Title"] = "Getting Started";
}

<h1>Getting Started</h1>
<p>Introductory guidance goes here.</p>