@page
@model SailScores.Web.Pages.Help.RrsScoringModel
@{
    Layout = "/Pages/Help/_HelpLayout.cshtml";
    ViewData["Title"] = "About & Reference";
}

<h1>About &amp; Reference</h1>
<h2>Coming soon. Work in progress.</h2>
<div class="preserve-whitespace" style="white-space: pre-wrap; font-family: inherit; line-height:1.4;">

  Things to write:
<ul>
  <li>SailScores History</li>
  <li>Design Guidelines: Usability before features.</li>
  <li>Data backups</li>
  <li>Import and Export</li>
  <li>Sharing results at an event: QR code walkthrough</li>
  <li>Race result entry Ideal flow</li>
  <li>Do Speech recognition and Handwriting recognition actually help?</li>
  <li>Offline use</li>
  <li>Scoring logic: walthrough calculations.</li>
  <li>Appendix A gotchas</li>
  <li>Shortcuts</li>
  <li>Customization tricks</li>
  <li>Behind the scenes logic: how to force a recalculation.</li>
  <li>How Are regattas different?</li>
  <li>Choosing a scoring system: Overview of popular systems (Low Point, High Point, Bonus Point, etc.)</li>
</ul>


</div>



