@page
@model SailScores.Web.Pages.Help.RrsScoringModel
@{
    Layout = "/Pages/Help/_HelpLayout.cshtml";
    ViewData["Title"] = "RRS Scoring";
}

<h1>RRS Scoring</h1>
<p>A quick look at Appendix A scoring.</p>