@page
@model SailScores.Web.Pages.Help.ScoringSystemsModel
@{
    Layout = "/Pages/Help/_HelpLayout.cshtml";
    ViewData["Title"] = "Scoring Systems";
}

<h1>Scoring Systems</h1>
<p>Choosing a scoring system for club sailing is different than for a regatta. Here we dive into the popular scoring systems and look at why you might choose one system over others.</p>