

$my-dark-color: #000B38;
$theme-colors: (
    'dark' : $my-dark-color
);

$font-family-base: "Open Sans", "Segoe UI", sans-serif;

@import "./node_modules/bootstrap/scss/bootstrap";

body {
}

.table-not-wide {
    width: auto;
}

.btn {
    margin: 2px;
}

#results {
    padding: 0;

    li {
        padding: 4px 0px;
        margin: 1px 0;

        .btn {
            padding: 4px 6px 4px 6px;
        }
    }

    div {
        padding: 0px 5px 0px 5px;
    }
}

.autocomplete-suggestion {
    background: #ffffff;
    z-index: 2;
}

.autocomplete-selected {
    background: #fbef97;
    z-index: 2;
}

.finish-first {
    background: #ffe974;
}
.finish-second {
    background: #dfdfdf;
}
.finish-third {
    background: #f3cf9b;
}

.canceled {
    background: #FFBBBB;
    align-content: center;
    text-align: center;

    span {
        writing-mode: vertical-lr;
        text-orientation: upright;
    }
}

.scheduled {
    background: #DDDDDD;
    align-content: center;
    text-align: center;

    span {
        writing-mode: vertical-lr;
        text-orientation: upright;
    }
}

