

$my-dark-color: #001156;
$theme-colors: (
    'dark' : $my-dark-color
);

$font-family-base: "Open Sans", "Segoe UI", sans-serif;

@import "./node_modules/bootstrap/scss/bootstrap";

body {
}

.table-not-wide {
    width: auto;
}

.btn {
    margin: 2px;
}

#results {
    padding: 0;

    li {
        padding: 4px 0px;
        margin: 1px 0;

        .btn {
            padding: 4px 6px 4px 6px;
        }
    }

    div {
        padding: 0px 5px 0px 5px;
    }
}

.autocomplete-suggestion {
    background: #ffffff;
    z-index: 2;
}

.autocomplete-selected {
    background: #fbef97;
    z-index: 2;
}

.finish-first {
    background: #ffe974;
}
.finish-second {
    background: #dfdfdf;
}
.finish-third {
    background: #f3cf9b;
}

.abandoned {
    background: #FFBBBB;
    align-content: center;
    text-align: center;

    span {
        writing-mode: vertical-lr;
        text-orientation: upright;
    }
}

.scheduled {
    background: #DDDDDD;
    align-content: center;
    text-align: center;

    span {
        writing-mode: vertical-lr;
        text-orientation: upright;
    }
}

[data-toggle="collapse"]:after {
    display: inline-block;
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f054";
    transform: rotate(90deg);
    transition: all linear 0.25s;
}

[data-toggle="collapse"].collapsed:after {
    transform: rotate(0deg);
}



body {
    /* Margin bottom by footer height */
    margin-bottom: 130px;
}

.score-entry {
    position: fixed;
    margin-left: -15px;
    margin-top: 10px;
    margin-bottom: 10px;
    bottom: 0;
    width: 100%;
    height: auto;
    line-height: 40px; /* Vertically center the text there */
    background-color: #f5f5f5;
    z-index: 1;
}

.footer-header {
    height: 20px;
}

button.close {
    padding-right: 10px;
    padding-left: 10px;
}

svg text {
    font-family: "Open Sans", "Segoe UI", sans-serif;
}

.bottom-column {
    position: absolute;
    left: 5%;
    bottom: 0;
}

form label.required:not(.custom-control-label)::after {
    content: "*";
    position: relative;
    font-size: 150%;
    top: .1em;
    padding-left: .4rem;
    color: theme-color('danger');
}