

$my-dark-color: #000B38;
$theme-colors: (
    'dark' : $my-dark-color
);

$font-family-base: "Open Sans", "Segoe UI", sans-serif;

@import "./node_modules/bootstrap/scss/bootstrap";

body {
}

.table-not-wide {
    width: auto;
}

#results li {
    touch-action: none;
}

.autocomplete-suggestion {
    background: #ffffff;
    z-index: 2;
}

.autocomplete-selected {
    background: #fbef97;
    z-index: 2;
}

.finish-first {
    background: #ffe974;
}
.finish-second {
    background: #dfdfdf;
}
.finish-third {
    background: #f3cf9b;
}
