@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Manage your account</h2>

<div>
    <h4>Change your account settings</h4>
    <hr />
    <div class="row g-4">
        <div class="col-12 col-md-4 col-lg-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-12 col-md-8 col-lg-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
