@model SailScores.Web.Models.SailScores.RegattaWithOptionsViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_ClubLayout.cshtml";
}

<h2>Create</h2>

<h4>Regatta</h4>
<hr />
<div class="row">
    <div class="col-md-8 col-lg-6">
        <p>Regattas are sailing events held over a few days with the same competitors, unlike 
        <a asp-controller="Series" asp-action="Create">series</a> which usually occur over
        multiple weeks with varying competitors. Regattas will be shared on the front page
        of SailScores for a week before and after their scheduled dates.</p>
        <p>A single regatta can include multiple fleets.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-lg-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Url" class="control-label"></label>
                <a class="text-primary"
                   data-bs-container="body"
                   data-bs-toggle="popover"
                   data-bs-placement="top"
                   data-bs-trigger="focus hover"
                   data-bs-content="If there is another site with regatta information, enter the URL here. Include the leading 'https:\\'">
                    <span class="far fa-question-circle"></span>
                </a>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" cols="60" rows="6"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div id="fleets" class="mb-3">
                <label asp-for="FleetIds" class="control-label">Fleets</label>
                                <a class="text-primary"
                   data-bs-container="body"
                   data-bs-toggle="popover"
                   data-bs-placement="top"
                   data-bs-trigger="focus hover"
                   data-bs-content="Not required. May be created later.">
                    <span class="far fa-question-circle"></span>
                </a>
                <p><small>If regatta fleets have not been created, <strong>do not</strong> select
                    fleets here. Create fleets after creating the regatta. (Each
                    fleet will be scored separately.)
                    </small>
                </p>
                <select multiple asp-for="FleetIds" class="form-select form-select">
                    @foreach (var fleet in Model.FleetOptions.OrderBy(c => c.Name))
                    {
                        <option value="@fleet.Id">
                            @fleet.Name
                        </option>
                    }
                </select>
                <span asp-validation-for="FleetIds" class="text-danger"></span>
            </div>
            <div id="advancedFields" role="tablist">
                <div class="card">
                    <div class="card-header" role="tab" id="advancedHeading">
                        <h5 class="mb-0">
                            <a class="collapsed" data-bs-toggle="collapse" href="#collapseAdvanced" aria-expanded="false" aria-controls="collapseAdvanced">
                                Additional Settings <span class="fas fa-chevron-down"></span></a>
                                <span class="small"><em>&ensp;Optional</em></span>
                        </h5>
                    </div>

                    <div id="collapseAdvanced" class="collapse" role="tabpanel" aria-labelledby="advancedHeading" data-parent="#advancedFields">
                        <div class="card-body">
                            <div class="row">
                            <div class="mb-3">
                                <label asp-for="ScoringSystemId">Default Scoring System</label><a
                                    class="text-primary"
                                    data-bs-container="body"
                                    data-bs-toggle="popover"
                                    data-bs-placement="top"
                                    data-bs-trigger="focus hover"
                                    data-bs-content="May be changed later.">
                                    <span class="far fa-question-circle"></span>
                                </a>
                                <select id="ScoringSystemId" asp-for="ScoringSystemId" class="form-select">
                                    @foreach (var scoringSystem in Model.ScoringSystemOptions)
                                    {
                                        <option value="@scoringSystem.Id">
                                            @scoringSystem.Name
                                        </option>
                                    }
                                </select>
                                <span asp-validation-for="ScoringSystemId" class="text-danger"></span>
                            </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-check">
                                        <input asp-for="HideFromFrontPage" class="form-check-input" type="checkbox" />
                                        <label asp-for="HideFromFrontPage" class="form-check-label">Hide From Front Page</label>
                                    </div>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>

            <div class="mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-controller="Admin"
                    asp-action="Index"
                    asp-fragment="series"
                    class="btn btn-outline-primary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
        <script>
        $(function () {
            $('[data-bs-toggle="popover"]').popover()
        })
    </script>
}
