@model SailScores.Web.Models.SailScores.ClubSelectorModel
<select id="clubSelect" hidden asp-for="SelectedClubInitials" class="form-control"
        aria-label="Select Club"
        onchange="window.location.href = '/' + this.value;"
        autocomplete="off"
        asp-items="@(new SelectList(Model.Clubs, "Initials", "Name"))">
    <option>  ----Select a club----  </option>
    </select>
<script>
    document.getElementById("clubSelect").selectedIndex = 0;
    document.getElementById("clubSelect").removeAttribute('hidden');
</script>
<noscript>
    @foreach (var club in Model.Clubs)
    {
        <a href="@($"/{club.Initials}")">
        @club.Initials - @club.Name
        </a><br />
    }
</noscript>
