@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1>404 = Oh no. :-(</h1>
<h2 class="text-danger">The page you requested couldn't be found.</h2>
<p>
    Are you using an outdated link?
</p>
