@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Oops.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>


<h3>
    Don't worry, it's probably us, not you.
</h3>
<p>
    We've logged the error and will let people know that something went wrong. You can
    help us resolve this by emailing a description of what you were doing when the
    error occurred to
    <a href="mailto:info@sailscores.com">info@sailscores.com</a>.
    
    Thank you...
</p>
