@{
    ViewData["Title"] = "About SailScores";
}


<h3>Sailing scoring kept simple.</h3>
<p>
    SailScores makes publishing sail race results simple and
    fast: simple enough that the scores can be entered and shared
    from a phone on the water. Competitors and clubs should be able to view scores
    in many ways from many devices, and see trends and specifics.
</p>
<br />
<h3>You can use it</h3>
<p>
    You can host your club's scores on this site. Contact us for the initial club setup.
</p>
<p>
    If you'd rather provide your own servers, SailScores is open-source software. The
    code is available at
    <a href="https://github.com/jbfraser1/SailScores">https://github.com/jbfraser1/SailScores</a>.
    You are welcome to run your own instance of this. I'll provide
    support as time allows.
</p>
<br />
<h3>Free? Really free?</h3>
<p>
    <i>Why is SailScores free? What's the catch? What about "If you're not paying for the product, you are the product."?</i>
</p>
<p>
    The expense to host this site is less than $20 a month.
    Development time is a more significant contribution, but it is happily donated:
    score entry troubles are reduced, the growth of sailing is supported and technologies are learned.
</p>
<p>
    As we build more advanced features are added, or as the site becomes
    popular, it may not fit onto the current inexpensive hosting option. We might
    need to pay for better servers. So maybe we start charging for premium features
    or build a client app that requires purchase.
</p>
<p>
    But we remain committed to providing a free option. The sailing clubs we've participated
    in haven't had large budgets and would have benefitted from SailScores.
</p>
<p>
    By the way, SailScores doesn't use any tracking or cookies except the minimum required to track logged-in users. Your
    data is not being sold by SailScores.
</p>
<br />
<h3>Future</h3>
We're working on new features, including:
<ul>
    <li>Integration with social media, such as automatic posting of results to Twitter.</li>
    <li>Fields to track race conditions, with analysis for competitors in different conditions.</li>
    <li>Import and Export to integrate with existing scoring software.</li>
    <li>Deeper trend reporting for clubs: Are your races growing year orver year?</li>
    <li>More options for result entry: let's keep making result entry simpler and faster. We've got even more ideas for this...</li>
</ul>
<p>View a full list of issues and feature requests at <a href="https://github.com/jbfraser1/SailScores/issues">GitHub</a></p>
<br />
<h3>Feedback</h3>
<p>
    Please send feedback! Use the email addresses below, reach out on Twitter @@SailScores or via Github.
</p>

<br />
<h3>Contact Info</h3>
Sailscores is maintained by Jamie Fraser, <a href="mailto:jamie@widernets.com">jamie@widernets.com</a>,
<address>
    <a href="mailto:info@sailscores.com">info@sailscores.com</a><br />
</address>
