@{
    ViewData["Title"] = "About SailScores";
}


<h3>Sailing scoring kept simple.</h3>
<p>
    SailScores makes publishing sail race results simple and
    fast. Simple enough that the scores can be entered and shared
    from a phone on the water. And once they've
    got scores, competitors and clubs should be able to review scores
    in many ways, from many devices, viewing trends and specifics.
</p>
<br />
<h3>You can use it</h3>
<p>
    You can host your club's scores on this site. Contact us for the initial club setup.  This is currently a free
    option and we hope to keep it that way.
</p>
<p>
    If you'd rather provide your own servers, SailScores is open-source software. The
    code is available at
    <a href="https://github.com/jbfraser1/SailScores">https://github.com/jbfraser1/SailScores</a>.
    You are welcome to run your own instance of this. I'll provide
    support as time allows.
</p>
<br />
<h3>Future</h3>
We're working on new features, including:
<ul>
    <li>Integration with social media, such as automatic posting of results to Twitter.</li>
    <li>Fields to track race conditions, with analysis for competitors in different conditions.</li>
    <li>Import and Export to integrate with existing scoring software.</li>
    <li>Export a series to PDF or HTML so it can be posted on other sites.</li>
    <li>Result trend reporting: Are your races growing?</li>
    <li>More options for result entry: apps for phones.</li>
</ul>
<p>View the full list of issues and feature requests at <a href="https://github.com/jbfraser1/SailScores/issues">GitHub</a></p>
<br />
<h3>Feedback</h3>
<p>
    Please send feedback! Use the email addresses below, reach out on Twitter @@SailScores or via Github.
</p>

<br />
<h3>Contact Info</h3>
Sailscores is maintained by Jamie Fraser, <a href="mailto:jamie@widernets.com">jamie@widernets.com</a>,
<address>
    <a href="mailto:info@sailscores.com">info@sailscores.com</a><br />
</address>
