@model SailScores.Web.Models.SailScores.AboutViewModel
@{
    ViewData["Title"] = "About SailScores";
}


<h1 class="h2">Sailing scoring kept simple.</h1>
<p>
    SailScores makes publishing sail race results simple and
    fast: simple enough that the scores can be entered and shared
    from a phone on the water. Competitors and clubs should be able to view scores
    in many ways from many devices, and see trends and specifics.
</p>
<br />
<h3>It's free</h3>
<p>
    You can host your club's scores on this site. Fill out <a asp-controller="ClubRequest" asp-action="index">the form</a>
    for the initial club setup.
</p>
<p>
    If you'd rather provide your own servers, SailScores is open-source software. The
    code is available at
    <a href="https://github.com/jbfraser1/SailScores">https://github.com/jbfraser1/SailScores</a>.
    You are welcome to run your own instance of this. We'll provide
    support as time allows.
</p>
<br />
<h4>What's the catch?</h4>
<p>
    <i>Why is SailScores free? What about "If you're not paying for a service, you are the product."?</i>
</p>
<p>
    The expense to host this site is less than $20 a month.
    Development time is a more significant contribution, but it is happily donated:
    score entry troubles are reduced, the growth of sailing is supported and technologies are learned.
</p>
<p>
    Some features may require more resources or payment to other services (such as
    speech recognition or automatic weather recording.) When those are ready we'll find a way
    to only charge the users of the "Premium" features.
</p>
<p>
    We are committed to providing a free option regardless. Our clubs
    haven't had large budgets and would have benefitted from SailScores. We'd
    like to share.
</p>
<p>
    By the way, SailScores doesn't use any tracking or cookies except the minimum required to track logged-in users. Your
    data is not being sold by SailScores.
</p>
<br />
<h3>Future</h3>
We're working on new features, including:
<ul>
    <li>Integration with social media, such as automatic posting of results to Twitter.</li>
    <li>Fields to track race conditions, with analysis for competitors in different conditions.</li>
    <li>More import and export options to integrate with existing scoring software.</li>
    <li>Deeper trend reporting for clubs: Are your races growing year over year?</li>
    <li>More options for result entry: let's keep making result entry simpler and faster. We've got even more ideas for this...</li>
</ul>
<p>View a full list of issues and feature requests at <a href="https://github.com/jbfraser1/SailScores/issues">GitHub</a></p>
<br />
<h3>Feedback</h3>
<p>
    <em>Please send feedback!</em> Use the email addresses below, reach out on Twitter @@SailScores or via Github.
</p>

<br />
<h3>Contact Info</h3>
Sailscores is maintained by Jamie Fraser, <a href="mailto:jamie@widernets.com">jamie@widernets.com</a>,
<address>
    <a href="mailto:info@sailscores.com">info@sailscores.com</a><br />
</address>
<br />

<p>
    <small>
        <code>
            src <a href="https://github.com/jbfraser1/sailscores/commit/@Model.GitHash">@Model.ShortGitHash</a>
            build <a href="https://github.com/jbfraser1/sailscores/_build/results?buildId=@Model.BuildId&view=results">@Model.BuildNumber</a>
        </code>
    </small>
</p>
