@model SailScores.Web.Models.SailScores.AboutViewModel
@{
    ViewData["Title"] = "About SailScores";
    ViewData["MetaDescription"] = "More details about SailScores";
}
<div class="row">
<div class="col col-lg-8">
    <h1 class="h2">Sailing scoring kept simple</h1>
    <p>
        SailScores makes publishing sail race results simple and
        fast: simple enough that the scores can be entered and shared
        from a phone on the water. Competitors and clubs can view results
        in many ways from many devices, with trends and specifics.
    </p>
    <br />
    <h3>Free for Clubs</h3>
    <p>
        You can host your club's scores on this site at no cost. Just fill out
        <a asp-controller="ClubRequest" asp-action="index">the form</a>
        to setup your club and start publishing results.
    </p>
    <br />
    <h4>Open Source</h4>
    <p>
        SailScores is open‑source software. The code is available at
        <a href="https://github.com/SailScores/SailScores" target="_blank">github.com/SailScores/SailScores</a>.
        You are welcome to run your own instance (not for the faint of heart). We provide support as time allows.
    </p>
    <br />
    <h4>Why is SailScores Free?</h4>
    <p>
        Hosting costs are modest, and development time is donated to
        support the sailing community, reduce scoring headaches, and
        explore new technologies. Many clubs operate on tight budgets,
        and SailScores was created with them in mind.
    </p>
    <p>
        To help sustain and provide more robust hosting, we offer an
        optional Supporter program. Supporters contribute financially
        to keep SailScores fast, reliable, and improving for everyone.
    </p>
    <p>
        SailScores is committed to always offering a free option for clubs of all sizes.
    </p>
    <p>
        To learn more about Supporter benefits, visit the
            <a asp-controller="Supporter" asp-action="Index">Pricing</a> page.
    </p>

    <br />
    <h4>Privacy</h4>
    <p>
        SailScores doesn't share tracking or cookies with third-parties. Your
        data is not being sold by SailScores. See our thorough
        <a asp-controller="Home" asp-action="Privacy">Privacy Policy</a> for full
        details.
    </p>

    <br />
    <h3>Future</h3>
    We're working on new features, including:
    <ul>
        <li>Always improving the score entry experience.</li>
        <li>Additional analysis for competitors in different conditions.</li>
        <li>Continuing to add more import and export options to integrate with other scoring software.</li>
        <li>Deeper trend reporting for clubs: What's the average wind for your club's races?</li>
        <li>Support for team racing?</li>
        <li>Support for offline score entry.</li>
    </ul>
    <p>View a list of issues and feature requests at <a href="https://github.com/SailScores/SailScores/issues"
    target="_blank">GitHub</a></p>

    <br />
    <h3>Contact</h3>
    SailScores is maintained by Jamie Fraser, <a href="mailto:jamie@widernets.com">jamie@widernets.com</a>,
    <address>
        <a href="mailto:info@sailscores.com">info@sailscores.com</a><br />
    </address>
    <br />

    <p>
        <small>
            <code>
                src <a href="https://github.com/SailScores/SailScores/commit/@Model.GitHash">@Model.ShortGitHash</a>
                build <a href="https://dev.azure.com/SailScores/SailScoresWebApp/_build/results?buildId=@Model.BuildId&view=results">@Model.BuildNumber</a>
            </code>
        </small>
    </p>
</div>
</div>
