@{
    ViewData["Title"] = "Contact";
}
<h2>
    <span class="far fa-envelope"></span>
    @ViewData["Title"]
</h2>

<address>
    James Fraser<br />
    4957 Newton Avenue South<br />
    Minneapolis, MN 55419-5253<br />
</address>

<address>
    <a href="mailto:info@sailscores.com">info@sailscores.com</a><br />
</address>
