@model SailScores.Web.Models.SailScores.SiteHomePageModel
@{
    ViewData["Title"] = "SailScores";
    ViewData["MetaDescription"] = "Fast mobile-friendly web-based sailing scores";
    ViewData["MetaKeywords"] = "sailing results scores web mobile-friendly";
}
<h1 class="display-4">SailScores</h1>
<p class="lead">Simple score collection and reporting for one-design sailing.</p>
<hr class="my-4">
<div class="row">
    <div class="col-md-6 order-md-first order-last">
        <h4>What's important in sailing club scoring software?</h4>
        <ul>
            <li>Fast, simple result entry and sharing using the web.</li>
            <li>Easy-to-remember and shareable direct links to series and club landing pages.</li>
            <li>Support for overlapping series: count the same race towards the weekend series as well as the season champ series.</li>
            <li>Club landing page can include links to home page or other results.</li>
            <li>Smartphone, MacOS, and Windows friendly.</li>
            <li>Support for Appendix A Low Point Scoring, 
                <a href="https://www.ussailing.org/competition/rules-officiating/racing-rules/scoring-a-long-series/">
                High Point Percentage,</a> or customized club systems.
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <br class="d-none d-md-inline" />
        @(await Html.PartialAsync("_ClubSelectorView", Model.ClubSelectorModel))
        <br />
        @if (Model.RegattaSelectorModel?.Regattas?.Any() ?? false)
        {
        @(await Html.PartialAsync("_RegattaSelectorView", Model.RegattaSelectorModel))
        <br />
        }
        <hr class="my-4">
        <span class="d-none d-md-inline">
            <br />
            <p>SailScores is <a href="https://github.com/jbfraser1/SailScores">open source</a> and volunteer driven.</p>
            <p>
                <a asp-area="" asp-controller="ClubRequest" asp-action="Index">Host your club's scores</a> on this site for free.
            </p>
        </span>
    </div>
</div>
