@model SailScores.Web.Models.SailScores.SiteHomePageModel
@{
    ViewData["Title"] = "SailScores";
    ViewData["MetaDescription"] = "Fast mobile-friendly web-based sailing scores";
    ViewData["MetaKeywords"] = "free sailing race scoring results scores sail web mobile-friendly";
}
<h1 class="display-4">SailScores</h1>
<p class="lead">Simple score collection and reporting for one-design sailing.</p>
<hr class="my-4">
<div class="row">
    <div class="col-md-4 d-none d-md-block order-md-0">
        <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <picture class="d-block w-100">
                        <source srcset="images/TypiqueSeries.webp" type="image/webp" class="d-block w-100">
                        <img src="/images/TypiqueSeries.png" alt="Series results" class="d-block w-100">
                    </picture>
                </div>
                <div class="carousel-item">
                    <picture>
                        <source srcset="images/TypiqueRaceEntry.webp" type="image/webp" class="d-block w-100">
                        <img src="/images/TypiqueRaceEntry.png" alt="Results entry" class="d-block w-100">
                    </picture>
                </div>
                <div class="carousel-item">
                    <picture class="d-block w-100">
                        <source srcset="images/TypiqueMainPage.webp" type="image/webp" class="d-block w-100">
                        <img src="/images/TypiqueMainPage.png" alt="Club main page" class="d-block w-100">
                    </picture>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 order-md-8">
        <br class="d-none d-md-inline" />
        @(await Html.PartialAsync("_ClubSelectorView", Model.ClubSelectorModel))
        <br />
        @if (Model.RegattaSelectorModel?.Regattas?.Any() ?? false)
        {
            @(await Html.PartialAsync("_RegattaSelectorView", Model.RegattaSelectorModel))
            <br />
        }
        <hr class="my-4">
        <span class="d-none d-md-inline">
            <br />
            <p>SailScores is <a href="https://github.com/jbfraser1/SailScores">open source</a> and volunteer driven.</p>
            <p>
                <a asp-area="" asp-controller="ClubRequest" asp-action="Index">Host your club's scores</a> on this site for free.
            </p>
        </span>
    </div>
    <div class="col-md-4 order-md-5">
        <h4>What's important in sailing club scoring software?</h4>
        <ul>
            <li>Fast, simple result entry and sharing using the web.</li>
            <li>
                Support for Appendix A Low Point Scoring,
                <a href="https://www.ussailing.org/competition/rules-officiating/racing-rules/scoring-a-long-series/">
                    High Point Percentage,
                </a> or customized club systems.
            </li>
            <li>Shareable direct links to club, series, and regatta pages.</li>
            <li>Competitor statistics across multiple series.</li>
            <li>Count a single race in one or many series.</li>
            <li>Club landing page can include links to home page or other results.</li>
            <li>Smartphone, MacOS, and Windows friendly.</li>
        </ul>
    </div>

</div>
