@model SailScores.Web.Models.SailScores.ClubSelectorModel
@{
    ViewData["Title"] = "SailScores";
}
<h1 class="display-4">SailScores</h1>
<p class="lead">Simple score collection and reporting for one-design sailing.</p>
<hr class="my-4">
<div class="row">
    <div class="col-md-6 order-md-first order-last">
        <h4>SailScores features</h4>
        <ul>
            <li>Fast, simple result entry using the web.</li>
            <li>Series and clubs have easy to remember direct links to pages.</li>
            <li>Support for overlapping series. (Races can be included in multiple series.)</li>
            <li>Options available to import results from SailWave.</li>
            <li>Open-source, volunteer-driven.</li>
            <li>Club landing page can include links to home page or results on other systems.</li>
        </ul>
    </div>
    <div class="col-md-6">
        @(await Html.PartialAsync("ClubSelectorView", Model))
        <hr class="my-4 d-md-none">
    </div>
</div>
