@{
    ViewData["Title"] = "News";
}
<h3>
    <span class="far fa-newspaper"></span>
    @ViewData["Title"]
</h3>
<h3>
    February 25th, 2019
</h3>
<p>SailScores.com is kinda live. There are still features to be added, but the basics are
    working. In the next few months there will be plenty of testing and tweaks. Hopefully
    a few new features as well. If you are interested in helping out with the testing, please
    <a href="mailto:info@sailscores.com">reach out</a> and let us know.
</p>
