@{
    ViewData["Title"] = "News";
}
<h3>
    <span class="far fa-newspaper"></span>
    @ViewData["Title"]
</h3>
<h3>
    April 30th, 2020
</h3>
<h5>Staying at home</h5>
<p>
    Stay-at-home orders are causing us all to find a new rhythm. While staying safe, the
    <a href="/LHYC/Competitor/2144">competitor</a>
    page finally got some attention, and is now available by clicking on a competitor
    name in series results. Let us know what you think and if there's a stat you
    think would be useful, please let us know.
</p>
<h3>
    March 14th, 2020
</h3>
<h5>To the cloud...</h5>
<p>
    Along with changing SailScores' hosting service, a few updates have been made to improve
    site performance. We're still finding some places that can be sped up and expect
    to continue making tweaks to help the site's responsiveness.
</p>
<p>
    But for the next few months feature updates will slow down. We're working on a mobile app to support
    offline score entry integrated with this site.
</p>
<h3>
    January 23rd, 2020
</h3>
<h5>New Feature</h5>
<em>Weather!</em>
<p>
    If the location of your club is set, SailScores will download and include the current weather
    conditions when you enter race results. The weather conditions will be displayed in the
    headers of series results, with a wind direction arrow, wind speed and selected icon.
</p>
<h3>
    November 26th, 2019
</h3>
<h5>New Features</h5>
<em>Faster creation of multiple competitors.</em>
<p>
    The page to create competitors now can create multiple competitors at once, and can handle
    competitors pasted from a spreadsheet such as Google Sheets or Microsoft Excel.
</p>
<em>Club request page</em>
<p>
    We're working on speeding up the process of
    <a asp-controller="ClubRequest" asp-action="Index">creating a new club.</a> Requests still
    need to be approved by a person, but the form now gives a better idea of what information
    is needed to initially set up the club.
</p>
<em>Admin tips</em>
<p>
    Guidance for newly setup clubs is now provided as on-page tips suggesting activities
    that should be completed for race scoring.
</p>
<h3>
    November 19th, 2019
</h3>
<h5>New Features</h5>
<em>Exports</em>
<p>
    Series can now be exported to a stand-alone html page or comma separated file (.csv). Look
    for the buttons in the lower right below a series results.
</p>
<em>Create and Merge Competitors</em>
<p>
    Competitors can now be created while entering a race's results. And if you later discover
    that a racer already existed in the club, the two competitors can be merged.
</p>
<em>Admin tips</em>
<p>
    Guidance for newly setup clubs is now provided as on-page tips suggesting activities
    that should be completed for race scoring.
</p>
<h3>
    October 13th, 2019
</h3>
<h5>New Features</h5>
<em>Series Charts</em>
<p>
    Series with more than one race can show a chart with the trend of competitors' rankings.
</p>
<h3>
    September 3rd, 2019
</h3>
<h5>New Features</h5>
<p>
    Regatta support: a regatta is featured on the front page for a week before and after the event, and
    is highlighted on the club home page for three weeks before and after the event.
</p>
<p>
    A regatta will have fleets of competitors different from the usual club fleets, and will show
    competitors' home clubs.
</p>

<h3>
    August 16th, 2019
</h3>
<h5>New Features</h5>
<p>
    Series can include a column with changes in competitors' rankings.
</p><p>
    Historical series can lock results, so that changes in the scoring system or the races will no longer change the series.
</p>
<h3>
    August 10th, 2019
</h3>
<h5>New Features</h5>
<p>
    Custom Scoring systems are now working.
    <ul>
        <li>
            Three base systems are currently implemented: Appendix A (a.k.a. low point)
            for Series, Appendix A for Regattas, and High Point Percentage.
        </li>
        <li>
            Clubs can implement custom scoring systems that derive from the base
            systems, but customize codes or the discard pattern.
        </li>
        <li>
            A club should have a default scoring system set. (It can be one of the
            built in systems.)
        </li>
        <li>Series can then be set to use a different system.</li>
    </ul>
    Also some enhancements have been made to support long series: helm name is now
    shown every 25 races and as the last column of the results.
</p>
<h3>
    June 7th, 2019 Update
</h3>
<h5>New Features</h5>
<p>
    Enhancements to the race editing page are getting rolled out today:
    <ul>
        <li>
            The page automatically scrolls to show the last entered result. (This
            required that the Add Result field get moved toward the bottom of the page.)
        </li>
        <li>
            A few weeks ago we added a field to track scheduled, raced and abandoned
            races. Scheduled and abandoned races don't show up in series views on small
            devices and aren't used for scoring.
        </li>
        <li>
            The Name and Description fields have been moved to Additional Fields section
            that is collapse by default.
        </li>
        <li>
            The format of the result list has been improved, including more details
            score codes.
        </li>
    </ul>
    These changes should make entering results on a phone a much better experience. The changes came
    about after using this with great success for the last several weeks at Lake Harriet.
</p>
<h5>Other News</h5>
<p>
    We've consolidated our issues list with the SailScores code at
    <a href="https://github.com/jbfraser1/SailScores/issues" target="_blank" rel="noopener noreferrer">GitHub.</a> Some
    of the issues have a "Help wanted" tag, where we'd love to hear more input from potential users.
</p>
<br />
<h3>
    February 25th, 2019
</h3>
<p>
    SailScores.com is kinda live. There are still features to be added, but the basics are
    working. In the next few months there will be plenty of testing and tweaks. Hopefully
    a few new features as well. If you are interested in helping out with the testing, please
    <a href="mailto:info@sailscores.com">reach out</a> and let us know.
</p>

