@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="h2">@ViewData["Title"]</h1>
<p>Your privacy is important to us. SailScores follows a few fundamental principles:</p>
<ul>
    <li>We collect minimal personal information about our users.</li>
    <li>We avoid collecting any information beyond what is publicly shown on the site.</li>
    <li>We aim for full transparency on what information we gather, how we use that
        information, and how we share your personal information.</li>
</ul>
<p>Below is our Privacy Policy, which incorporates and clarifies these principles.</p>
<section id="who-we-are-and-what-this-policy-covers">
    <h3>Who We Are and What This Policy Covers</h3>
    <p>
        Hi! We are some sailors that built this site to help clubs around the world easily
        record and report on sailing scores.  We believe keeping this site available and sharing the
        technology behind it will help grow the sport of sailing. To support this, the SailScores
        code is open source and the site allows for free use.</p>
    <p>
        This Privacy Policy applies to information that we collect about you when you use our
        site at sailscores.com. Throughout this Privacy Policy we’ll refer to our SailScores
        website, any related mobile applications, and related services collectively as “Services.”</p>
    <p>
        Some users are granted the ability to edit public content on SailScores. We refer to
        these users as "Scorekeepers" below.</p>
    <p>
        There are third-party services, such as github.com, which support
        SailScores. This Privacy Policy does not apply to accounts and activites on those, or any other,
        third-party services.</p>
    <p>
        Below we explain how we collect, use, and share information about you, along with the
        choices that you have with respect to that information.
    </p>
</section>
<section id="information-we-collect">
    <h3>Information We Collect</h3>
    <p>
        We only collect information about you if we have a reason to do so — for example, to
        provide our Services, to communicate with you, or to make our Services better.
        We collect this information from three sources: if and when you provide information to
        us, information provided to us by another user, and automatically through operating our
        Services. Let’s examine each of these in more detail.
    </p>
</section>
<section id="information-you-provide-to-us">
    <h4><em>Information You Provide to Us</em></h4>
    <p>
        It’s probably no surprise that we collect information that you provide to us directly.
        Here are some examples:
    </p>
    <ul>
        <li>
            <strong>Basic account information: </strong>We ask for basic information from you
            in order to set up your account. For example, we require individuals who sign up for
            a SailScores.com account to provide a name, email address, and password, — and that’s
            it.
        </li>
        <li>
            <strong>Public profile information:</strong> If you have an account with us, we
            may present some of the information that you provide to the public. In particular,
            the name you provided is used to indicate which user has last updated scoring
            information.  This information is freely available to any other users of our Services.
        </li><li>
            <b>Club Profile: </b>SailScores collects additional information from
            you as part of creating a club profile. For example, if you have requested that a
            Club be set up, we use information provided including your club's name, location,
            and website. Most clubs are associated with a language and locale for formatting
            preferences. Club locations are used to request current weather conditions when
            creating new race results.
        </li>
        <li>
            <strong>Content information: </strong>You might provide us with information about you
            in draft and published content. For example, Scorekeepers may provide an email contact
            to be listed in a Club's description.
        </li>
        <li>
            <strong>Communications with us (hi there!): </strong>You may also provide us with
            information when you respond to surveys or sign up for a newsletter. When you
            communicate with us via form, email, github.com comment, or otherwise, we may store
            a copy of our communications.
        </li>
    </ul>
</section>
<section id="information-we-collect-from-another-user">
    <h4><i>Information We Collect from Other Users</i></h4>
    <p>
        We may also get information about you from other SailScores users. For example, it is
        common for Scorekeepers to record the names of owners of boats as "Skipper" for listing
        in scoring results. The information we receive depends on what is provided
        by Scorekeepers.
    </p>
</section>
<section id="information-we-collect-automatically">
    <h4><i>Information We Collect Automatically</i></h4>
    <p>We also collect some information automatically:</p>
    <ul>
        <li>
            <strong>Log information:</strong> Like most online service providers, we collect
            information that web browsers, mobile devices, and servers typically make available,
            including the browser type, IP address, unique device identifiers, language preference,
            referring site, the date and time of access, operating system, and mobile network
            information. We collect log information when you use our Services — for example, when
            you create races or make changes to your club's information.
        </li>
        <li>
            <strong>Usage information:</strong> We sometimes collect information about what
            happens when you use our Services (e.g., page views or result entry) along with
            information about your device (e.g., screen size, name
            of cellular network, and mobile device manufacturer). We use this information to,
            for example, provide our Services to you and get insights on how people use our Services
            so we can make our Services better, improving the experiences of our users.
        </li>
        <li>
            <strong>Location information:</strong> We may determine the approximate location
            of your device from your IP address. We collect and use this information to, for
            example, calculate how many people visit our Services from certain geographic regions.
        </li>
        <li>
            <strong>Information from cookies &amp; other technologies:</strong> A cookie is
            a string of information that a website stores on a visitor’s computer, and that the
            visitor’s browser provides to the website each time the visitor returns. SailScores
            uses cookies to allow logged in users to stay logged in across sessions.
        </li>
    </ul>
</section>
<section id="how-and-why-we-use-information">
    <h3>How and Why We Use Information</h3>
</section>
<section id="purposes-for-using-information">
    <h4><i>Purposes for Using Information</i></h4>
    <p>We use information about you for the purposes listed below:</p>
    <ul>
        <li>
            <strong>To provide our Services.</strong> For example, to set up and maintain your
            account, host your club information, backup and restore your information, resolve
            data problems, and verify user information.
        </li>
        <li>
            <strong>To ensure quality and improve our Services.</strong> For example,
            by monitoring and analyzing how users interact with our Services so we can create new
            features that we think our users will enjoy and that will help them share and find
            sailing scores more efficiently or make our Services easier to use.
        </li>
        <li>
            <strong>To protect our Services, our users, and the public.</strong> For example, by
            detecting security incidents; detecting and protecting against malicious, deceptive,
            fraudulent, or illegal activity; fighting spam; complying with our legal obligations;
            and protecting the rights and property of SailScores and others, which may result in us,
            for example, declining a request or terminating Services.
        </li>
        <li>
            <strong>To fix problems with our Services.</strong> For example, by monitoring,
            debugging, repairing, and preventing issues.
        </li>
        <li>
            <strong>To communicate with you.</strong> For example, by emailing you to ask for your
            opinion, share tips for getting the most out of our products, or keep you up to date on
            SailScores; If you don’t want to hear from us, you can opt out
            of marketing communications at any time. (If you opt out, we’ll still send you important
            updates relating to your account.)
        </li>
    </ul>
</section>
<section id="legal-bases-for-collecting-and-using-information">
    <h4><i>Legal Bases for Collecting and Using Information</i></h4>
    <p>
        A note here for those in the European Union about our legal grounds for processing information
        about you under EU data protection laws, which is that our use of your information is based on
        the grounds that:
    </p>
    <p>(1) The use is necessary in order to fulfill our commitments to you under the applicable
        terms of service or other agreements with you or is necessary to administer your account — for
        example, in order to enable access to our website on your device; or</p>
    <p>(2) The use is necessary for compliance with a legal obligation; or</p>
    <p>(3) The use is necessary in order to protect your vital interests or those of another person; or</p>
    <p>(4) We have a legitimate interest in using your information — for example, to provide and
        update our Services; to improve our Services so that we can offer you an even better
        user experience; to safeguard our Services; to communicate with you; to measure, gauge,
        and improve the effectiveness of our Services; to monitor and prevent any problems with
        our Services; or</p>
    <p>(5) You have given us your consent — for example, information is submitted after the "Save" or
        similar button is pressed, and browser tracking is enabled only when a registered user
        selects the "Enable Browser Analytics" option in their user profile.</p>
</section>
<section id="sharing-information">
    <h3>Sharing Information</h3>
</section>
<section id="how-we-share-information">
    <h4><i>How We Share Information</i></h4>
    <p>
        We share information about you only in expected ways, essential to the functioning of the
        Services. While sharing we use appropriate safeguards on your privacy. This is spelled out here:
    </p>
    <ul>
        <li>
            <strong>Public use:</strong> some of the information we collect, such as your name and
            sailing results, are posted on webpages accessble by the general public. This is essential
            to the functioning of the Services.
        </li>
        <li>
            <strong>Third-party vendors:</strong> We do not share private user information with third
            parties except as called out below.
        </li>
        <li>
            <strong>Legal and regulatory requirements:</strong> We may disclose information about
            you in response to a subpoena, court order, or other governmental request.
        </li>
        <li>
            <strong>To protect rights, property, and others:</strong> We may disclose information
            about you when we believe in good faith that disclosure is reasonably necessary to protect
            the property or rights of SailScores, third parties, or the public at large. For example,
            if multiple parties claim ownership of the same Club information, we may need to share
            information among the claimants. We will avoid this sharing when possible.
        </li>
        <li>
            <strong>Business transfers:</strong> In connection with any merger, sale of assets,
            or acquisition of all or a portion of SailScores by another party, user information
            would likely be one of the assets that is transferred or acquired by a third party. If any
            of these events were to happen, this Privacy Policy would continue to apply to your
            information and the party receiving your information may continue to use your information,
            but only consistent with this Privacy Policy.
        </li>
        <li>
            <strong>With your consent:</strong> We may share and disclose information with your
            consent or at your direction. For example, we may share your information with third parties
            when you authorize us to do so, like when you connect your site to another service, such as
            Slack.
        </li>
        <li>
            <strong>Aggregated or de-identified information:</strong> We may share information
            that has been aggregated or de-identified, so that it can no longer reasonably be used
            to identify you. For instance, we may publish aggregate statistics about the use of our
            Services.
        </li>
    </ul>
    <p>
        We do not sell our users’ data. We aren’t a data broker, we don’t sell your
        personal information to data brokers, and we don’t sell your information to other
        companies that want to spam you with marketing emails.
    </p>
</section>
<section id="information-shared-publicly">
    <h4><i>Information Shared Publicly</i></h4>
    <p>Information that you choose to make public is — you guessed it — disclosed publicly.</p>
    <p>
        That means information like your public profile, scores, other content that you make public
        on your club's pages are all available to others
        — and we hope they get a lot of views!
    </p>
    <p>
        This public sharing is core to the mission and functioning of SailScores: to allow the public
        sharing of sailing scores. As part of these scores, some identifying information is usually
        included by Scorekeepers. In particular, sailor or skipper name and boat name are generally
        considered an essential and critical piece of a score.
    </p>
    <p>Please keep all of this in mind when deciding what you would like to share publicly.</p>
</section>
<section id="how-long-we-keep-information">
    <h3>How Long We Keep Information</h3>
    <p>
        We generally discard information about you when it’s no longer needed for the purposes for
        which we collect and use it — described in the section above on How and Why We Use Information
        — and we’re not legally required to keep it.
    </p>
    <p>
        For example, we keep web server logs that record information about a visitor to SailScore’s
        websites, like the visitor’s IP address, browser type, and operating system, for
        approximately 30 days. We retain the logs for this period of time in order to, among other things,
        analyze traffic to SailScores’s Services and investigate issues if something goes wrong on 
        our websites.
    </p>
</section>
<section id="security">
    <h3>Security</h3>
    <p>
        While no online service is 100% secure, we work hard to protect information about you
        against unauthorized access, use, alteration, or destruction, and take reasonable measures to
        do so. We monitor our Services for potential vulnerabilities and attacks.
    </p>
</section>
<section id="choices">
    <h3>Choices</h3>
    <p>You have several choices available when it comes to information about you:</p>
    <ul>
        <li>
            <strong>Limit the information that you provide:</strong> If you have an account with us,
            you can choose not to provide the optional club and score information.
        </li>
        <li>
            <strong>Limit access to information on your mobile device:</strong> Your mobile device
            operating system should provide you with the option to discontinue our ability to collect
            stored information or location information via our mobile apps. If you choose to limit this,
            you may not be able to use certain features, like geotagging for photographs.
        </li>
        <li>
            <strong>Opt out of marketing communications:</strong> You may opt out of receiving
            occasional update communications from us. Just follow the instructions in those communications or
            let us know. If you opt out of optional communications, we may still send you other
            communications, like those about your account and legal notices.
        </li>
        <li>
            <strong>Close your account:</strong> While we’d be sad to see you go, you can
            close your account if you no longer want to use our Services.
            (<a href="mailto:info@sailscores.com">Email us</a> to close your account. If you are the
            only authorized user for a club we will need to determine whether your club's public
            information should be retained or removed. Please keep in mind that we may continue to
            retain your information after closing your account, as described in How Long We Keep
            Information above — for example, when that information is reasonably needed to comply
            with (or demonstrate our compliance with) legal obligations such as law enforcement
            requests, or reasonably needed for our legitimate business interests.
        </li>
    </ul>
</section>
<section id="your-rights">
    <h3>Your Rights</h3>
    <p>
        If you are located in certain parts of the world, including California and countries that
        fall under the scope of the European General Data Protection Regulation (aka the “GDPR”),
        you may have certain rights regarding your personal information, like the right to request
        access to or deletion of your data.
    </p>
</section>
<section id="european-general-data-protection-regulation-gdpr">
    <h4><em>European General Data Protection Regulation (GDPR)</em></h4>
    <p>
        If you are located in a country that falls under the scope of the GDPR, data protection
        laws give you certain rights with respect to your personal data, subject to any exemptions
        provided by the law, including the rights to:
    </p>
    <ul>
        <li>Request access to your personal data;</li>
        <li>Request correction or deletion of your personal data;</li>
        <li>Object to our use and processing of your personal data;</li>
        <li>Request that we limit our use and processing of your personal data; and</li>
        <li>Request portability of your personal data.</li>
    </ul>
    <p>You also have the right to make a complaint to a government supervisory authority.</p>
</section>
<section id="california-consumer-privacy-act-ccpa">
    <h4><em>California Consumer Privacy Act (CCPA)</em></h4>
    <p>
        The California Consumer Privacy Act (“CCPA”) requires us to provide California residents
        with some additional information about the categories of personal information we collect and
        share, where we get that personal information, and how and why we use it.
    </p>
    <p>
        The CCPA also requires us to provide a list of the “categories” of personal information we
        collect, as that term is defined in the law, so, here it is. In the last 12 months, we
        collected the following categories of personal information from California residents,
        depending on the Services used:
    </p>
    <ul>
        <li>Identifiers (like your name, contact information, and device and online identifiers);</li>
        <li>
            Internet or other electronic network activity information (such as your usage of our
            Services, like the actions you take as an administrator of SailScores Services);
        </li>
        <li>Geolocation data (such as your location based on your IP address);</li>
    </ul>
    <p>
        You can find more information about what we collect and sources of that information in the
        <a href="#information-we-collect">Information We Collect section</a>
        above.
    </p>
    <p>
        We collect personal information for the business and commercial purposes described in the
        <a href="#how-and-why-we-use-information">How and Why We Use Information section</a>.
        And we share this information with the categories of third parties
        described in the <a href="#sharing-information">Sharing Information section</a>.
    </p>
    <p>
        If you are a California resident, you have additional rights under the CCPA, subject to
        any exemptions provided by the law, including the right to:
    </p>
    <ul>
        <li>
            Request to know the categories of personal information we collect, the categories of
            business or commercial purpose for collecting and using it, the categories of sources
            from which the information came, the categories of third parties we share it with, and
            the specific pieces of information we collect about you;
        </li>
        <li>Request deletion of personal information we collect or maintain;</li>
        <li>Opt out of any sale of personal information; and</li>
        <li>Not receive discriminatory treatment for exercising your rights under the CCPA.</li>
    </ul>
</section>
<section id="contacting-us-about-these-rights">
    <h4><em>Contacting Us About These Rights</em></h4>
    <p>
        You can usually access, correct, or delete your personal data using your account settings
        and tools that we offer, but if you aren’t able to or you’d like to contact us about one of
        the other rights, scroll down to “<a href="#how-to-reach-us">How to Reach Us</a>”
        to, well, find out how to reach us.
    </p>
    <p>
        When you contact us about one of your rights under this section, we’ll need to verify that
        you are the right person before we disclose or delete anything. For example, if you are a user,
        we will need you to contact us from the email address associated with your account. You can
        also designate an authorized agent to make a request on your behalf by giving us written
        authorization. We may still require you to verify your identity with us.
    </p>
</section>
<section id="controllers-and-responsible-companies">
    <h3>Controllers and Responsible Party</h3>
    <p>
        SailScores’ Services are primarily maintained by James Fraser.
    </p>
    <table>
        <tbody>
            <tr>
                <td>
                    <strong>James Fraser</strong><br />
                    4957 Newton Ave S<br />
                    Minneapolis, MN 55419
                    United States
                </td>
            </tr>
        </tbody>
    </table>
</section>
<section id="how-to-reach-us">
    <h3>How to Reach Us</h3>
    <p>
        If you have a question about this Privacy Policy, or you would like to contact us about any
        of the rights mentioned in the
        <a href="#your-rights">Your Rights section</a> above,
        please contact us via
        <a href="mailto:info@sailscores.com">email</a> (or <a href="mailto:jamie@widernets.com">an alternate
        address</a> . These are the fastest ways
        to get a response to your inquiry, but you can also contact us by mailing the address provided above.
    </p>
</section>
<section id="other-things-you-should-know-keep-reading">
    <h3>Other Things You Should Know (Keep Reading!)</h3>
</section>
<section id="privacy-policy-changes">
    <h3>Privacy Policy Changes</h3>
    <p>
        Although most changes are likely to be minor, SailScores may change its Privacy Policy
        from time to time. SailScores encourages visitors to frequently check this page for any
        changes to its Privacy Policy. If we make changes, we will notify you by revising the change
        log below, and, in some cases, we may provide additional notice (like adding a statement to
        our homepage or sending you a notification through email). Your further use of the Services after a
        change to our Privacy Policy will be subject to the updated policy.
    </p>
    <p>That’s it! Thanks for reading.</p>
</section>
<section id="change-log">
    <h3>Change log</h3>
    <ul>
        <li><em>December 23, 2020: </em>Removed reference to blocking cookies with browser. Most users
        will not receive cookies from SailScores. We use minimal cookies to track logged in users.</li>
        <li><em>December 17, 2020: </em>Initial version of this policy shared.</li>
    </ul>
</section>
<section id="attribution">
    <p>
        This Privacy Policy is heavily influenced by the policy of
        <a href="https://github.com/Automattic/legalmattic" target="">Automattic</a>. Thank you!
    </p>
</section>
