@model IEnumerable<SailScores.Core.Model.BoatClass>

<div class="card">
    <div class="card-header" id="classesHeading">
        <h5>
            <a class="collapsed" id="classes" data-toggle="collapse" href="#collapseClasses" aria-expanded="false" aria-controls="collapseClasses">
                Classes
            </a>
        </h5>
    </div>
    <div id="collapseClasses" class="collapse" aria-labelledby="classesHeading" data-parent="#accordion">
        <div class="card-body">
            <p>
                Class refers to the type of boat. A competitor can only belong to one class.
            </p>
            <p>
                <a class="btn btn-primary" asp-action="Create" asp-controller="BoatClass">
                    Create
                </a>
            </p>
            <table class="table table-not-wide">
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", "BoatClass", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", "BoatClass", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>