@model IEnumerable<SailScores.Core.Model.Competitor>

<div class="card">
    <div class="card-header" id="competitorsHeading">
        <h5>
            <a class="collapsed" id="competitors" data-toggle="collapse" href="#collapseCompetitors" aria-expanded="false" aria-controls="collapseCompetitors">
                Competitors
            </a>
        </h5>
    </div>
    <div id="collapseCompetitors" class="collapse" aria-labelledby="competitorsHeading" data-parent="#accordion">
        <div class="card-body p-1 p-md-20">
            <p>
                Competitor changes can be completed on the
                <a asp-controller="competitor"
                   asp-action="index">competitor page</a>.
            </p>
        </div>
    </div>
</div>