@model IEnumerable<SailScores.Core.Model.Competitor>

<div class="row">
    <div class="col-10 col-sm-8 col-md-5 col-lg-4">
        <h3>
            <a id="competitors">Competitors</a>
        </h3>
    </div>
</div>
<div class="row border-bottom mt-1 mb-1 pt-1 pb-1 ml-md-2">
    <div class="col-12">
        Competitors may be added and changed on the
        <a asp-controller="competitor"
            asp-action="index">Competitor page</a>.
    </div>
</div>