<div class="row mt-1 mb-1 pt-1 pb-1 ms-md-2">
    <div class="col-12">
        Competitors may be added and changed on the
        <a asp-controller="competitor"
            asp-action="index">Competitor page</a>.
    </div>
</div>
