@using SailScores.Core.Services
@model SailScores.Web.Models.SailScores.AdminViewModel
<div class="card">
    <div class="card-header" id="racesHeading">
        <h5>
            <a id="races" class="collapsed" data-toggle="collapse" href="#collapseRaces" aria-expanded="false" aria-controls="collapseRaces">
                Races
            </a>
        </h5>
    </div>
    <div id="collapseRaces" class="collapse" aria-labelledby="racesHeading" data-parent="#accordion">
        <div class="card-body p-1 p-md-20">
            <p>
                Race changes can be completed on the 
                <a asp-controller="race"
                   asp-action="index"
                >race page</a>.

            </p>
        </div>
    </div>
</div>
