@model SailScores.Web.Models.SailScores.AdminViewModel

<div class="row">
    <div class="col-10 col-sm-8 col-md-5 col-lg-4">
        <h3>
            <a id="races">Races</a>
        </h3>
    </div>
</div>
<div class="row border-bottom mt-1 mb-1 pt-1 pb-1 ms-md-2">
    <div class="col-12">
        Races may be edited on the
        <a asp-controller="race"
            asp-action="index">race page</a>.
    </div>
</div>