@model IEnumerable<SailScores.Core.Model.ScoringSystem>

<div class="card">
    <div class="card-header" id="scoringHeading">
        <h5>
            <a id="scoring" class="collapsed" data-toggle="collapse" href="#collapseScoring"
                  aria-expanded="false" aria-controls="collapseScoring">
                Scoring Systems
            </a>
            <span class="text-danger">&ensp;<span class="small"><em>Advanced</em></span></span>
        </h5>
    </div>
    <div id="collapseScoring" class="collapse" aria-labelledby="scoringHeading" data-parent="#accordion">
        <div class="card-body">
            <p>
                <a class="btn btn-primary" asp-action="Create" asp-controller="ScoringSystem">
                    Create
                </a>
            </p>

            @foreach (var item in Model)
            {
                <div class="row border-bottom mb-1 pb-1">
                    <div class="col-6 col-sm-4 col-md-4">
                        @Html.DisplayFor(modelItem => item.Name)
                    </div>
                    <div class="col-6 col-sm-4 col-md-2">
                        @Html.ActionLink("Edit", "Edit", "ScoringSystem", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", "ScoringSystem", new { id = item.Id })
                    </div>
                </div>
            }
        </div>
    </div>
</div>